Q.1 Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:
Select specific columns:
name score
a Anastasia 12.5
b Dima 9.0
c Katherine 16.5
... h Laura NaN
i Kevin 8.0
j Jonas 19.0

In [3]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df[['name','score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

Q.2 Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

Sample DataFrame:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df[df['attempts']>2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

3.	Create a dataframe with a dictionary containing name, salary, experience, joining year, put some values into 
the dictionary. Then find the mean of salary.

In [11]:
import numpy as np
import pandas as pd
employee_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'salary': [25000, 30000, 160000,30000, 19000, 20000, 40000,50000, 180000, 70000],
'experience': [1,1 , 6, 2, 1, 1.5, 2,3 , 8, 4],
'joining': [2018, 2018, 2002, 2018, 2017, 2016, 2020, 2015, 2012, 2016]}
ed=pd.DataFrame(employee_data)
print(ed[['salary']].mean())

salary    62400.0
dtype: float64

Q.4 Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [12]:
import pandas as pd
d_series1 = pd.Series([2, 4, 6, 8, 10])
d_series2 = pd.Series([1, 3, 5, 7, 9])
ds = d_series1 + d_series2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = d_series1 - d_series2
print(ds)
print("Multiply two Series:")
ds = d_series1 * d_series2
print(ds)
print("Divide Series1 by Series2:")
ds = d_series1 / d_series2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Q.5 Write a Pandas program to convert a NumPy array to a Pandas series.

In [15]:
import numpy as np
import pandas as pd
np_arr = np.array([20,45,90,10,15,20])
print("NumPy array:")
print(np_arr)
new_series = pd.Series(np_arr)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[20 45 90 10 15 20]
Converted Pandas series:
0    20
1    45
2    90
3    10
4    15
5    20
dtype: int32