In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv(r"E:\industrial training SVVV\datasets\breast_cancer.csv")

In [86]:
dataset.shape

(699, 12)

In [4]:
dataset.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [87]:
dataset.isnull().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [88]:
dataset['clump_thickness'].fillna(dataset['clump_thickness'].mean(), inplace=True)

In [89]:
dataset['cell_size_uniformity'].fillna(dataset['cell_size_uniformity'].mean(), inplace=True)

In [90]:
dataset['bare_nuclei']=dataset.fillna(dataset['bare_nuclei'].mode())

In [91]:
dataset['bland_chromatin'].fillna(dataset['bland_chromatin'].mean(), inplace=True)

dataset['normal_nucleoli'].fillna(dataset['normal_nucleoli'].mean(), inplace=True)

In [92]:
dataset.isnull().sum()

patient_id               0
clump_thickness          0
cell_size_uniformity     0
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              0
bland_chromatin          0
normal_nucleoli          0
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()
dataset['class']=lr.fit_transform(dataset['class'])
dataset['doctor_name']=lr.fit_transform(dataset['doctor_name'])

In [39]:
dataset.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1000025,3.0,1.0,1,0,0
1,1002945,5.0,4.0,4,5,7,1002945,3.0,2.0,1,0,2
2,1015425,3.0,1.0,1,1,2,1015425,3.0,1.0,1,0,1
3,1016277,6.0,8.0,8,1,3,1016277,3.0,7.0,1,0,2
4,1017023,4.0,1.0,1,3,2,1017023,3.0,1.0,1,0,3

In [40]:
dataset.describe()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413,0.344778,1.436338
std,6.170957e+05,2.815654,3.050388,2.971913,2.843163,2.214300,2.434186,3.053457,1.715078,0.475636,1.107357
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000,1.000000,2.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,3.000000

In [41]:
c=dataset.corr()

In [42]:
cm=c['class']

In [43]:
cm

patient_id              -0.080226
clump_thickness          0.715615
cell_size_uniformity     0.817463
cell_shape_uniformity    0.818934
marginal_adhesion        0.693547
single_ep_cell_size      0.682785
bland_chromatin          0.755572
normal_nucleoli          0.711990
mitoses                  0.423170
class                    1.000000
doctor_name              0.024053
Name: class, dtype: float64

no need of patient_id and doctor name
also since cell_size_uniformity and cell_shape_uniformity have almost similar values we will use only one of them
similarly in marginal_adhesion and single_ep_cell_size  too we will use only one.

In [94]:
dataset.drop(['patient_id','doctor_name','cell_shape_uniformity','marginal_adhesion'],axis=1,inplace=True)

In [66]:
dataset.head()

,clump_thickness,cell_size_uniformity,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,5.0,1.0,2,1000025,3.0,1.0,1,0
1,5.0,4.0,7,1002945,3.0,2.0,1,0
2,3.0,1.0,2,1015425,3.0,1.0,1,0
3,6.0,8.0,3,1016277,3.0,7.0,1,0
4,4.0,1.0,2,1017023,3.0,1.0,1,0

In [95]:
X=dataset.iloc[:,0:7].values

In [96]:
y=dataset.iloc[:,7].values

In [97]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
sc = StandardScaler()

x=sc.fit_transform(X)

C:\Users\Asus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Asus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [98]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)

In [99]:
log=LogisticRegression()

In [100]:
log.fit(x_train,y_train)

C:\Users\Asus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [101]:
y_pred=log.predict(x_test)

In [102]:
accuracy_score(y_pred,y_test)

0.9642857142857143

In [103]:
log.score(x_train,y_train)

0.94633273703041143

In [104]:
confusion_matrix(y_pred,y_test)

array([[83,  3],
       [ 2, 52]], dtype=int64)

In [105]:
from sklearn.naive_bayes import GaussianNB
nvclassifier = GaussianNB()
nvclassifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [106]:
y_pred = nvclassifier.predict(x_test)
print(y_pred)

[0 0 1 0 1 0 1 0 1 1 0 0 1 1 1 0 0 1 1 0 1 1 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 1 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 1 1 1 1 0 0 1 0 0 1 1
 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 1
 1 1 0 0 0 0 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 0 1 1 0 0 1 0 0]

In [108]:
accuracy_score(y_pred,y_test)

0.95714285714285718

In [109]:
nvclassifier.score(x_train,y_train)

0.94812164579606439

In [110]:
confusion_matrix(y_pred,y_test)

array([[80,  1],
       [ 5, 54]], dtype=int64)

<h3>Accuracy(logistic regression):0.96428

<h3>Accuracy(Naive_bayes)        :0.95714