In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
weather=pd.read_csv(r'E:\industrial training SVVV\datasets\weather.csv')

In [3]:
weather.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,Summary
0,01-01-2016,42.0,34.0,38.0,0,0,0,Partly Cloudy
1,02-01-2016,40.0,32.0,36.0,0,0,0,Partly Cloudy
2,03-01-2016,45.0,35.0,40.0,0,0,0,Mostly Cloudy
3,04-01-2016,36.0,14.0,25.0,0,0,0,Partly Cloudy
4,05-01-2016,29.0,11.0,20.0,0,0,0,Mostly Cloudy

In [4]:
weather['average temperature'].max()

88.5

In [5]:
weather['maximum temperature'].mean()

64.75549450549451

In [18]:
weather.loc[:,'snow fall':'snow depth']

    snow fall snow depth
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0
5           0          0
6           0          0
7           0          0
8           0        NaN
9           0          0
10          0          0
11          T          0
12          0          0
13          T          0
14          0          0
15          0          0
16        0.4          0
17        NaN        NaN
18          0          T
19          0          T
20          0          0
21        0.2          0
22       27.3          6
23          T         22
24          0         19
25          0         17
26          0          9
27          0          6
28          0          6
29          0          6
..        ...        ...
336         0          0
337         0          0
338         0          0
339         0          0
340         0          0
341         0          0
342         0          0
343         0          0
344         0          0
345       0.4          0
346         0          0
347         0          0
348         0          0
349         T          0
350         0          0
351       2.8          2
352         0          1
353         0          0
354         0          0
355         0          0
356         0          0
357         0          0
358         0          0
359         0          0
360         0          0
361         0          0
362         0          0
363         0          0
364         T          0
365         0          0

[366 rows x 2 columns]

In [6]:
weather.isnull().sum()

date                   0
maximum temperature    2
minimum temperature    0
average temperature    0
precipitation          0
snow fall              1
snow depth             2
Summary                0
dtype: int64

In [7]:
weather.shape

(366, 8)

In [8]:
weather.dropna(inplace=True)

In [9]:
weather.isnull().sum()

date                   0
maximum temperature    0
minimum temperature    0
average temperature    0
precipitation          0
snow fall              0
snow depth             0
Summary                0
dtype: int64

In [11]:
weather.to_csv(r'E:\industrial training SVVV\datasets\weather1.csv')

In [12]:
bs=pd.read_csv(r'E:\industrial training SVVV\datasets\BostonHousing.csv')

In [13]:
bs.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [14]:
bs['medv'].max()

50.0

In [15]:
bs.loc[20:40,['crim','rm','age']]

       crim     rm    age
20  1.25179  5.570   98.1
21  0.85204  5.965   89.2
22  1.23247  6.142   91.7
23  0.98843  5.813  100.0
24  0.75026  5.924   94.1
25  0.84054  5.599   85.7
26  0.67191  5.813   90.3
27  0.95577  6.047   88.8
28  0.77299  6.495   94.4
29  1.00245  6.674   87.3
30  1.13081  5.713   94.1
31  1.35472  6.072  100.0
32  1.38799  5.950   82.0
33  1.15172  5.701   95.0
34  1.61282  6.096   96.9
35  0.06417  5.933   68.2
36  0.09744  5.841   61.4
37  0.08014  5.850   41.5
38  0.17505  5.966   30.2
39  0.02763  6.595   21.8
40  0.03359  7.024   15.8

In [16]:
bs[bs['rm']<5.5]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2
48,0.25387,0.0,6.91,0,0.448,5.399,95.3,5.8700,3,233,17.9,396.90,30.81,14.4
141,1.62864,0.0,21.89,0,0.624,5.019,100.0,1.4394,4,437,21.2,396.90,34.41,14.4
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7,396.90,26.82,13.4
143,4.09740,0.0,19.58,0,0.871,5.468,100.0,1.4118,5,403,14.7,396.90,26.42,15.6
144,2.77974,0.0,19.58,0,0.871,4.903,97.8,1.3459,5,403,14.7,396.90,29.29,11.8
147,2.36862,0.0,19.58,0,0.871,4.926,95.7,1.4608,5,403,14.7,391.71,29.53,14.6
148,2.33099,0.0,19.58,0,0.871,5.186,93.8,1.5296,5,403,14.7,356.99,28.32,17.8
151,1.49632,0.0,19.58,0,0.871,5.404,100.0,1.5916,5,403,14.7,341.60,13.28,19.6
152,1.12658,0.0,19.58,1,0.871,5.012,88.0,1.6102,5,403,14.7,343.28,12.12,15.3
156,2.44668,0.0,19.58,0,0.871,5.272,94.0,1.7364,5,403,14.7,88.63,16.14,13.1
209,0.43571,0.0,10.59,1,0.489,5.344,100.0,3.8750,4,277,18.6,396.90,23.09,20.0
211,0.37578,0.0,10.59,1,0.489,5.404,88.6,3.6650,4,277,18.6,395.24,23.98,19.3
214,0.28955,0.0,10.59,0,0.489,5.412,9.8,3.5875,4,277,18.6,348.93,29.55,23.7
310,2.63548,0.0,9.90,0,0.544,4.973,37.8,2.5194,4,304,18.4,350.45,12.64,16.1
362,3.67822,0.0,18.10,0,0.770,5.362,96.2,2.1036,24,666,20.2,380.79,10.19,20.8
365,4.55587,0.0,18.10,0,0.718,3.561,87.9,1.6132,24,666,20.2,354.70,7.12,27.5
366,3.69695,0.0,18.10,0,0.718,4.963,91.4,1.7523,24,666,20.2,316.03,14.00,21.9
367,13.52220,0.0,18.10,0,0.631,3.863,100.0,1.5106,24,666,20.2,131.42,13.33,23.1
368,4.89822,0.0,18.10,0,0.631,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
373,11.10810,0.0,18.10,0,0.668,4.906,100.0,1.1742,24,666,20.2,396.90,34.77,13.8
374,18.49820,0.0,18.10,0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97,13.8
384,20.08490,0.0,18.10,0,0.700,4.368,91.2,1.4395,24,666,20.2,285.83,30.63,8.8
385,16.81180,0.0,18.10,0,0.700,5.277,98.1,1.4261,24,666,20.2,396.90,30.81,7.2
386,24.39380,0.0,18.10,0,0.700,4.652,100.0,1.4672,24,666,20.2,396.90,28.28,10.5
387,22.59710,0.0,18.10,0,0.700,5.000,89.5,1.5184,24,666,20.2,396.90,31.99,7.4
388,14.33370,0.0,18.10,0,0.700,4.880,100.0,1.5895,24,666,20.2,372.92,30.62,10.2
389,8.15174,0.0,18.10,0,0.700,5.390,98.9,1.7281,24,666,20.2,396.90,20.85,11.5
392,11.57790,0.0,18.10,0,0.700,5.036,97.0,1.7700,24,666,20.2,396.90,25.68,9.7
398,38.35180,0.0,18.10,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
403,24.80170,0.0,18.10,0,0.693,5.349,96.0,1.7028,24,666,20.2,396.90,19.77,8.3
406,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2,370.22,23.34,11.9
412,18.81100,0.0,18.10,0,0.597,4.628,100.0,1.5539,24,666,20.2,28.79,34.37,17.9
413,28.65580,0.0,18.10,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3
414,45.74610,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
417,25.94060,0.0,18.10,0,0.679,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4
474,8.05579,0.0,18.10,0,0.584,5.427,95.4,2.4298,24,666,20.2,352.58,18.14,13.8
477,15.02340,0.0,18.10,0,0.614,5.304,97.3,2.1007,24,666,20.2,349.48,24.91,12.0
488,0.15086,0.0,27.74,0,0.609,5.454,92.7,1.8209,4,711,20.1,395.09,18.06,15.2
489,0.18337,0.0,27.74,0,0.609,5.414,98.3,1.7554,4,711,20.1,344.05,23.97,7.0
490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68,8.1
496,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,6,391,19.2,396.90,21.14,19.7